body {
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
    font-family: 'Noto Sans Ethiopic', sans-serif;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#time {
    font-size: 70px;
}