body {
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Noto Sans Ethiopic', sans-serif;
    background-size: cover;
  }
  
  #time {
    font-size: 70px;
    margin-top: 20vh;
  }